<!--Section: Features v.1-->
<section class="text-center">

    <!--Section heading-->

    <div class="container">
      <i class="fa fa-bicycle fa-3x red-text"></i>
    <!--Section description-->
      <p class="px-5 mb-5 pb-3 lead grey-text">In my 30 years of wrenching I have built ~ 15k bikes and 8k wheels. I’ve done custom unicycles, BMX, recumbents, mountain bikes, practically every type of bike. I’ve done custom fabrication for mounts, fittings, and repairs..</p>



    <!--Grid row-->


    <img src="./assets/images/Rocky1.jpg" alt="">
    <br>
    <br>
    
    </div>

    <!--Grid row-->

</section>
<br>
<br>


<!--Section: Features v.1-->
