.navbar.navbar li a {
  color: white;
}

.navbar.navbar li a:visited {
  background-color: black;

}

.navbar-brand {
  color: red;
}

.navbar-brand a:hover {
  color: red;
}

.right {
  margin-left: auto;
  display: inline-block;
}
