<!--Section: Contact v.2-->


<h1>Contact</h1>
<div class="container">
  <section>

    <!--Section heading-->

    <!--Section description-->


    <div class="row">

        <!--Grid column-->
        <div class="col-md-8 col-xl-9">
          <img class="img-fluid" src="./assets/images/Rocky11.PNG">

          <br>


        </div>

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 col-xl-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-map-marker fa-2x blue-text"></i>
                    <p>628 Charles Dr Oceanside, CA 92057</p>
                </li>

                <li>
                    <i class="fa fa-phone fa-2x mt-4 blue-text"></i>
                    <p>(760) 505-8301</p>
                </li>

                <li>
                    <i class="fa fa-envelope fa-2x mt-4 blue-text"></i>
                    <p>brock52@gmail.com</p>
                </li>
                <li>
                  <i class="fa fa-yelp fa-2x mt-4 red-text"></i>
                  <p><a href="https://www.yelp.com/biz/rockys-custom-bikes-oceanside">Yelp</a></p>
                </li>
                <li>
                  <i class="fa fa-facebook fa-2x mt-4 blue-text"></i>
                  <p><a href="https://www.facebook.com/rockyscustombikes/">Facebook</a></p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->

</div>
<br>
<br>
<br>
