<!--Projects section v.4-->
<section class="text-center pb-3">

    <!--Section heading-->
    <h2 class="font-weight-bold h1 py-5">
        <strong>Our best projects</strong>
    
    </h2>
    <!--Section description-->
    <p class="grey-text pb-5 text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="purple-text">
                            <i class="fa fa-plane"></i>
                            <strong> Travel</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>This is card title</strong>
                        </h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!
                        </p>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="pink-text">
                            <i class="fa fa-pie-chart"></i>
                            <strong> Marketing</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>This is card title</strong>
                        </h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!
                        </p>
                        <a mdbBtn color="pink" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h6 class="green-text">
                            <i class="fa fa-eye"></i>
                            <strong> Entertainment</strong>
                        </h6>
                        <h3 class="py-3 font-weight-bold">
                            <strong>This is card title</strong>
                        </h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!
                        </p>
                        <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                            <i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Projects section v.4-->
